body {
  background-color: whitesmoke;
}

.app {
  margin: 20px auto;
  max-width: 650px;
}

.app_frame {
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 5px rgb(192, 192, 192);
  margin: 0 auto;
  max-width: 650px;
  padding: 10px;
}

header #search-bar {
  border: 1.5px solid #0d6efd;
  border-radius: 25px;
}

header .search-btns {
  border-radius: 20px;
  margin: 5px;
}

.current_section {
  margin: 30px 5px;
  padding: 10px;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  .weather-forecast-date {
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .weather-forecast-icon {
    font-size: 38px;
    text-align: center;
  }

  .weather-forecast-temperatures {
    text-align: center;
    color: #f65282;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .weather-forecast-temperature {
    padding: 0 10px;
  }

footer {
  font-family: monospace;
  font-size: 12px;
  margin-top: 10px;
}